/* Empty. Add your own CSS if you like */
.loading120 {
background-image: url(loadingpanel1.gif);
width: 72px;
height: 70px;

}
.popup-container.active .popup {
    -webkit-animation-name: superScaleIn;
    animation-name: superScaleIn;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 89%;
    line-height: 18px;
}