 <style>
.namebox1 {	width: 100%;	height: 30px;	background: #005bab; margin-top:44px;}
.nametext2 {	text-align: center;	font: bold 14px Calibri;	color: #fff;	padding: 6px;}
.cdnamebox2 {	width: 100%;	height: 30px;	background: #cf2123;  margin-top: 43px;position: absolute;    z-index: 9;}
.cdnametext2 {	text-align: center;	font: bold 14px Calibri;	color: #fff;	padding: 6px;}
.image {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}
.navlogop1{ float: left;}
.navlogop2{    margin-top: 2px;    margin-left: 43px;}
#arowmarkpanle1 {    margin-top: 41px;    position: absolute;    z-index: 99;    width: 100%;}
.leftarrowmarklp1 {    float: left;    padding-left: 7px;}
.leftarrowmarklp2 {    float: right;    padding-right: 7px;}

.syllabusscpl1{    margin-top: 38px;    width: 96%;    margin-left: auto;    margin-right: auto;}

.slider-pager{  top: 29px;    position: fixed;    text-align: center;    width: 100%;    background: rgb(196, 227, 255);    height: 28px;
    line-height: 24px;    border-bottom: 1px solid #96B4D0;display:none;}

ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 500vh;
}
</style>  
  
  <ion-view id="comic-view" ng-controller='circularnotices'>
<ion-nav-buttons side="left">
 <div class="navlogop1"><button menu-toggle="left" class="button button-icon icon ion-navicon"></button></div>
    <div class="navlogop2"><img ng-src="img/logo.png" style=" width: 82%;"  /></div>
</ion-nav-buttons>

  <div class="cdnamebox2">
    <div class="cdnametext2"> <span>Circular/Notice</span> </div>
  </div>
   <div class="arrows" id="arowmarkpanle1">
		<div class="leftarrowmarklp1" style="{{lftdisable1}}"><a href="#" ng-click="previousSlide()"><img src="img/left-arrow.png" style="  margin: 4px;"/></a></div>
		<div class="leftarrowmarklp2" style="{{rgtdisable1}}"><a href="#" ng-click="nextSlide()"><img src="img/right-arrow.png" style="  margin: 4px;"/></a></div>
	</div>
 <ion-content class="has-header" ng-controller="circularnotices">
    <ion-slide-box show-pager="true" on-slide-changed="slideChanged(index)"  pager-click="moveslide(index)" active-slide="activeSlide" >
  
    <ion-slide ng-repeat="aa in cnotices">

	  
	  
	  <div class="syllabusscpl1">
  <div  style="width: 100%; height : 100%;overflow:auto;    margin-top: 0px;">

	  <ion-scroll direction="xy" scrollbar-x="true" scrollbar-y="true"
      zooming="true" min-zoom="{{zoomMin}}" delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)" >
 
 
 <div style="width: 98%; height:auto; overflow:auto; margin-left:auto; margin-right:auto;">
  <img actual-src ="http://183.82.8.39:9090/notices/{{aa.image_name}}" ng-src="img/loadingpane14.gif"  err-src="img/na.jpg"  class="full-image" />
				
      </div> 

</ion-scroll>
</div>
</div>
	  
    </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view> 


  
  