<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<style>
    .HMinfo1
    {
        width: 100%;
        height: auto;
    }
    .HMinfo2
    {
        width: 100%;
        height: auto;
    }
    .HMinfobox1
    {
        width: 50%;
        height: auto;
        float: left;
    }
    .HMinfobox2
    {
        width: 50%;
        height: auto;
        float: left;
    }
    .cdnametext2
    {
        text-align: center;
        font: bold 14px Calibri;
        color: #fff;
        padding: 6px;
    }
    .cdnamebox2
    {
        width: 100%;
        height: 30px;
        background: #cf2123;
    }
    .namebox1
    {
  
    }
    .nametext2
    {
        text-align: center;
        font: bold 14px Calibri;
        color: #fff;
        padding: 6px;
    }
    .namebox11
    {
        width: 100%;
        height: 83px;
    }
    .welbox1
    {
        width: 78%;
        height: 83px;
    }
    .welbox2
    {
        width: 93%;
        float: left;    margin-top: 8px;
    }
    .weltext1
    {
    font: bold 14px Calibri;
    color: #005bab;
    margin-left: 10px;
    }
    .weltext2
    {
          font: normal 13px Calibri;
    color: #005bab;
    margin-left: 10px;
    }
    .welbox3
    {
        width: 7%;
        float: left;
    }
    .imgContainer
    {
        display: table-cell;
        width: 100%;
        height: 100%;
        background: #fff;
        text-align: center;
        vertical-align: middle;
    }
    
    .imgContainer img
    {
        max-width: 100%;
        max-height: 100%;
    }
.button-clear button back-button{display:none;}

.button .icon {
  vertical-align: top;
  pointer-events: none;
  display: none;
}
.navlogop1{ float: left;}
.navlogop2{    margin-top: 2px;    margin-left: 43px;}
.homepagescpa1{    padding: 10px;    float: left;}
.Parentsboxpanel1{ overflow:auto;}
.loading-container .loading {  padding: 20px;  border-radius: 5px;  background-color: rgba(0, 0, 0, 0);  color: #fff;  text-align: center;
  text-overflow: ellipsis;  font-size: 15px;}
</style>

<ion-view title="">
  <ion-nav-buttons side="left">
    <div class="navlogop1"><button menu-toggle="left" class="button button-icon icon ion-navicon"></button></div>
    <div class="navlogop2"><img ng-src="img/logo.png" style=" width: 82%;" /></div>
  </ion-nav-buttons>
  
<ion-content>
<div class="Parentsboxpanel1">
  
</div>

</ion-content>
</ion-view>
