<style>
    .boxc1{background-color: #D5EAFD;    width: 92%;    margin-left: auto;    margin-right: auto;
    line-height: 22px;    border: 4px solid #96C7F3;}
.navlogop1{ float: left;}  
.navlogop2{    margin-top: 2px;    margin-left: 43px;}	
</style>
<ion-view>
  <ion-nav-buttons side="left">
       <div class="navlogop1"><button menu-toggle="left" class="button button-icon icon ion-navicon"></button></div>
    <div class="navlogop2"><img ng-src="img/logo.png" style=" width: 82%;"  /></div>
  </ion-nav-buttons>
<ion-content>
<br>
 <table class="boxc1" width="100%" border="0" style=" background-color: #96C7F3;">
  <tr>
    <td><strong>St.Andrews</strong></td>
    <td><strong> V 1.0</strong></td>
  </tr>
</table>
 <table class="boxc1" width="100%" border="0">

 <tr><td style="text-align: center;border-bottom: 1px solid #ccc;line-height: 20px;padding: 3px;">Software ​& ​Mobile application developed by​:​ <br/><strong> ​Elite ProCon Solutions Pvt​.​ Ltd​.​</strong> <br />Software Solutions <br /> Hyderabad ​  <b>&diams;</b>   ​Vijayawada ​ <b>&diams;</b>   ​Bengaluru​   <b>&diams;</b>   USA​ <br /><br/></td></tr><tr><td style="
    border-bottom: 1px solid #ccc;    line-height: 18px;"><strong> Technical Support</strong> :<br />support@eliteprojects.com<br />9963697077<br /><br/></td>  </tr>  <tr>    <td style="
    border-bottom: 1px solid #ccc;    line-height: 18px;"><strong>Sales : </strong><br />sales@eliteprojects.com<br />9963832077<br />0866 - 2477077 / 6647677<br />web :www.eliteprojects.com</td>  </tr></table>
 </ion-content>
	</ion-view>

